<nav class="navbar navbar-expand-lg bg-dark p-4">
    <div class="container-fluid">
        <a class="navbar-brand col-4 text-danger" href="{{ path('app_main') }}">The District®</a>
        <button class="navbar-toggler text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-dark"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-between me-auto mb-2 mb-lg-0">
                <li class="nav-item me-3">
                    <a class="nav-link text-danger" href="/categorie">Catégories</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link text-danger" href="/plat">Plats</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link text-danger" href="/contact">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if app.user %}
                    {% if is_granted('ROLE_PLAT_ADMIN') %}
                        <li class="nav-items">
                            <a class="nav-link text-danger" href="{{ path('admin_index') }}">Administration</a>
                        </li>
                        <li class="nav-items">
                            <a class="nav-link text-danger" href="{{ path('app_logout') }}">Me déconnecter</a>
                        </li>
                    {% endif %}
                    {% if app.session != is_granted('ROLE_PLAT_ADMIN') %}
                        <li class="nav-item dropdown mx-4">
                            <a class="nav-link dropdown-toggle text-danger" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ app.user.prenom }}
                            </a>
                            <ul class="dropdown-menu bg-dark">
                                <li><a class="dropdown-item text-danger" href="#">Mon compte</a></li>
                                <li><a class="dropdown-item text-danger" href="#">Mon panier</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Me déconnecter</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-items">
                        <a class="nav-link text-danger" href="{{ path('app_register') }}">M'inscrire</a>
                    </li>
                    <li class="nav-items">
                        <a class="nav-link text-danger" href="{{ path('app_login') }}">Me connecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
