{% extends 'base.html.twig' %}

{% block title %}theDistrict - mon panier{% endblock %}

{% block body %}
    <main class="page wrapper">

        {% if cart|length > 0 %}
            <div class="container position-relative zindex-2 pt-5 pb-md-4 pb-2">
                <form action="{{ path('app_commande') }}">
                    <div class="row">
                        <div class="col-lg-12 offset-lg-1 pt-1">
                            <h2 class="pt-md-2 my-4 mt-lg-5">Mon panier</h2>
                            <p>Ajouter d'autres articles disponibles sur le site <a href="{{ path('app_plat_index') }}">Voir les articles - </a><a href="{{ path('app_cart_removeAll') }}">Supprimer tout mon panier</a></p>

                            {% set total = null %}
                            {% for item in cart %}
                            {% set sousTotal = item.plat.prix * item.quantity %}
                            {% set total = total + (item.plat.prix * item.quantity) %}
                                <div class="d-sm-flex align-items-center border-top py-4">
                                    <a href="#"
                                       class="d-inline-block flex-shrink-0 rounded-1 p-sm-2 p-xl-3 mb-2 mb-sm-0">
                                        <img src="{{ asset('assets/uploads/plat/mini/300x300-' ~ item.plat.image) }}" alt="{{ item.plat.libelle }}" width="140">
                                    </a>
                                    <div class="w-100 pt-1 ps-sm-4">
                                        <div class="d-flex">
                                            <div class="me-3">
                                                <h3 class="h5 mb-2">{{ item.plat.libelle }}</h3>
                                                <p class="mb-2">{{ item.plat.description }}</p>
                                            </div>
                                        </div>
                                        <div class="count-input ms-n3 d-flex col-5 col-sm-5 col-lg-3 col-xl-2">
                                            <a href="{{ path('app_cart_decrease', {id: item.plat.id}) }}" class="btn btn-icon fs-xl" data-decrement>-</a>
                                                <input class="form-control" type="number" value="{{ item.quantity }}" readonly>
                                            <a href="{{ path('app_cart_add', {id: item.plat.id}) }}" class="btn btn-icon fs-xl" data-increment>+</a>
                                        </div>
                                        <div class="text-end ms-auto pe-4 pe-sm-2 pe-md-3 pe-lg-3">
                                            <div class="fs-5 mb-2">{{ sousTotal }}€</div>
                                        </div>
                                        <div class="nav justify-content-end mt-n5 mt-sm-n3 pe-4 pe-sm-2 pe-md-3 pe-lg-3">
                                            <a href="{{ path('app_cart_remove', {id: item.plat.id}) }}" class="nav-link fs-xl p-2" data-bs-toggle="tooltrip" title="Remove"><i class="uil uil-trash-alt text-danger display-6"></i></a>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                            <ul class="list-unstyled py-3 mb-0">
                                <li class="d-flex justify-content-between mb-2">Nombre de produit:<span class="fw-semibold ms-2">{{ cart|length }}</span></li>
                            </ul>
                            <div class="d-flex align-items-center justify-content-between border-top fs-xl pt-4 pe-4 pe-sm-2 pe-md-3 pe-lg-3">
                                Total: <span class="fs-3 fw-semibold text-dark ms-2">{{ total }}€</span>
                            </div>
                                <button class="btn btn-lg btn-outline-danger w-100 w-sm-auto mt-4 col-lg-4" type="submit">Valider mon panier</button>
                        </div>
                    </div>
                </form>
            </div>
        {% else %}

            <div class="container d-flex flex-column justify-content-center min-vh-100 py-5">
                <div class="text-center pt-4 mt-lg-2">
                    <h1 class="display-5">Votre panier est vide</h1>
                    <p class="fs-lg pb-2 pb-mb-0 mb-4 mb-md-5">Commandez un plat dès maintenant, vous ne le regretterez pas!</p>
                    <a href="{{ path('app_plat_index') }}" class="btn btn-lg btn-outline-danger">Voir les produits</a>
                </div>
            </div>

        {% endif %}
    </main>

{% endblock %}
