{% extends 'base.html.twig' %}

{% block body %}

    <main class="container">
        <section class="row">

            <div class="col-12 mt-5 mb-5">
                <h2>Restaurant spécialités du monde</h2>
                <p>Des saveurs uniques de tous le continents</p>
            </div>

            <h3>Catégories</h3>

            {% for categorie in liste %}
                <div class="col-4">
                    <div class="card">

                        <div class="card-body">
                            <h3 class="card-title">{{ categorie.libelle }}</h3>
                            <a href="" class="btn"><img src="{{ asset('assets/img/categorie/')  ~ categorie.image }}" alt="{{ categorie.libelle }}" width="200px"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <h3>Plats</h3>

            {% for plat in listePlats %}
                <div class="col-4">
                    <div class="card">

                        <div class="card-body">
                            <h3 class="card-title">{{ plat.libelle }}</h3>
                            <a href="" class="btn"><img src="{{ asset('assets/img/plat/')  ~ plat.image }}" alt="{{ plat.libelle }}" width="200px"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>

{% endblock %}
