{% extends 'base.html.twig' %}

{% block landing %}
<div class="container" style="width: 100%; height: 200px; background-image: url('{{ asset('assets/img/bg1.jpeg') }}'); background-size: 100%; background-repeat: no-repeat; background-position: top; overflow: hidden"></div>
{% endblock %}

{% block body %}

    <main class="container">
        <section class="row mb-5">

            <div class="col-12 mt-5 mb-5">
                <h2>Restaurant spécialités du monde</h2>
                <p>Des saveurs uniques de tous les continents</p>
            </div>

            <h3>Catégories</h3>

            {% for categorie in liste %}
                <div class="col-4">
                    <div  class="card">

                        <div class="card-body ">
                            <h3 class="card-title">{{ categorie.libelle }}</h3>
                            <a href="#" class="btn"><img class="img-fluid" src="{{ asset('assets/img/categorie/')  ~ categorie.image }}" alt="{{ categorie.libelle }}"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <h3>Plats vedettes</h3>

            {% for plat in listePlats %}
                <div class="col-4">
                    <div class="card">

                        <div class="card-body">
                            <h3 class="card-title">{{ plat.libelle }}</h3>
                            <a href="#" class="btn"><img class="img-fluid" src="{{ asset('assets/uploads/plat/mini/300x300-' ~ plat.image) }}" alt="{{ plat.libelle }}"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>

{% endblock %}
