{% extends 'base.html.twig' %}

{% block title %}Transporteur index{% endblock %}

{% block body %}

    <main class="container">

        <h1>Transporteur index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for transporteur in transporteurs %}
                <tr>
                    <td>{{ transporteur.id }}</td>
                    <td>{{ transporteur.titre }}</td>
                    <td>{{ transporteur.description }}</td>
                    <td>{{ transporteur.prix }}</td>
                    <td>
                        <a href="{{ path('app_transporteur_show', {'id': transporteur.id}) }}">show</a>
                        <a href="{{ path('app_transporteur_edit', {'id': transporteur.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_transporteur_new') }}">Create new</a>

    </main>

{% endblock %}
