{{ form_start(platForm) }}

    {{ form_row(platForm.libelle) }}
    {{ form_row(platForm.description) }}
    {{ form_row(platForm.categorie) }}
    {{ form_row(platForm.prix) }}
    {{ form_row(platForm.image) }}
    {{ form_row(platForm.active) }}
    <button type="submit" class="btn btn-danger">{{ button_label|default('Ajouter') }}</button>

{{ form_end(platForm) }}