{% extends 'base.html.twig' %}

{% block title %}Plats{% endblock %}

{% block body %}

    <div class="container my-5">
        <div class="row">
            <h3>Tout nos plats</h3>

            {% if not liste.items is same as([]) %}

            <div class="count my-3">
                Avec nos {{ liste.getTotalItemCount }} plats nous vous offrons une possibilité de vous envolez vers une multitude saveurs!
            </div>

            {% for plat in liste %}
                <div class="col-4">
                    <div class="card">

                        <div class="card-body">
                            <h3 class="card-title">{{ plat.libelle }}</h3>
                            <a href="#" class="btn"><img src="{{ asset('assets/uploads/plat/mini/300x300-' ~ plat.image) }}" alt="{{ plat.libelle }}" width="200px"></a>

                            <a href="{{ path('app_cart_add', {id: plat.id}) }}">Ajouter au panier</a>

                        </div>

                    </div>
                </div>
            {% endfor %}
            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(liste) }}
            </div>

            {% else %}
                <p>Il n'y a actuellement aucun plats de disponible</p>
            {% endif %}

        </div>

    </div>

{% endblock %}
